:root {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size:    16px;

    box-sizing:   border-box;

    --color-yellow: #FFE551;
    --color-orange: #FF6B00;
    --color-cold-black: #12141C;
    --color-grey: #A5A5A5;

    --container-pad: 40px;
    --container-width: 1240px;
  }  

.c-yellow {color: var(--color-yellow)}
.c-orange {color:var(--color-orange)}
.c-black {color: var(--color-cold-black)}
.c-grey {color: var(--color-grey)}

.bg-yellow {background-color: var(--color-yellow)}
.bg-orange {background-color:var(--color-orange)}
.bg-black {background-color: var(--color-cold-black)}
.bg-grey {background-color: var(--color-grey)}

.h-flex {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.v-flex {display: flex; flex-direction: column; justify-content: space-between; align-items: center;}

.ph-20 {padding: 0 20px;}

.block {display: block;}

.test-outline {border: 1px solid #12141C;}

body {
    color: var(--color-cold-black);
    background-color: var(--color-yellow);
}

ul {padding: 0;}

.header-container {
    margin-right:  auto;
    margin-left:   auto;
    padding-right: var(--container-pad);
    padding-left:  var(--container-pad);

    width:     100%;
    max-width: calc(var(--container-pad) + var(--container-width) + var(--container-pad));
}

.header-flex {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
}

nav {
    max-width: 633px;
    list-style: none;
    flex-grow: 1;
}

.nav-title {
    margin: 0 20px 0 0;
    max-width: 408px;
    flex-grow: 1;
}

.nav-list {
    display: flex; 
    gap: 24px;
    flex-shrink: 2;
}

.logolink {
    padding-right: 20px; 
}

.lang-switch {

}